nav {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
    display: flex;
    
}
#navbarSupportedContent ul {
    margin-left: 450px;
}
a {
    color: #A82D49 !important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -5px;
}
.lastnav{
    color: #fff !important;
    border: 1px solid #A82D49;
    background-color: #A82D49;
    box-sizing: border-box;
    padding: 10px 5px;
    
   
}
.lastnav:hover {
    background-color: transparent;
    color: #A82D49 !important;
    transition: 1s ease-in-out;
}